<div class="row justify-content-center">
  <div class="col-10">
    <div class="card text-white bg-dark mt-3">
      <div class="card-body">
        <h4 class="card-title mr-auto d-inline-block mb-0">
          <%= pluralize(@collections.flat_map(&:books).size, "book") %>
          across
          <%= pluralize(@collections.size, "collection") %>
        </h4>
        <span class="float-right">
          <%= link_to new_collection_path, class: "text-white" do %>
            <%= octicon(:plus, height: 24, fill: "currentcolor") %>
          <% end %>
        </span>
      </div>
    </div>
  </div>
</div>

<%= render @collections %>
