<%= ClusterTags.each_category do |category| %>
  <div class="mt-2">
    <% @cluster[category].to_a.each do |tag| %>
      <%= link_to(books_path(tag: tag["word"])) do %>
        <%= content_tag(:span, class: "badge badge-secondary mt-2", class: "tag-#{category}") do %>
          <%= tag["word"] %>
          <%= content_tag(:span, tag["frequency"], class: "badge badge-light") %>
        <% end %>
      <% end %>
    <% end %>
  </div>
<% end %> 

