<div class="row">
  <div class="col-md-8 offset-md-2">
      <%= form_with url: books_path, method: :get, local: true do |f| %>
       <div class="form-group mt-3">
        <%= f.search_field :q, value: params[:q], class: "form-control form-control-lg", placeholder: "Search", autofocus: autofocus_search_input?, aria: { label: "Search" } %>
        <%= f.submit "Search", class: "d-none" %>
        </div>
      <% end %>
  </div>
</div>

<% if @books.any? %>
  <% @books.each_slice(2) do |books| %>
    <div class="card-deck mt-3">
      <%= render partial: "book", collection: books, as: :book %>
    </div>
  <% end %>
  <%= paginate @books %>
<% else %>
  <p class="placeholder">There are no books yet.</p>
<% end %>

