<nav>
  <div class="nav nav-tabs" id="nav-tab" role="tablist">
    <%= link_to "All", logs_path, class: "nav-item nav-link #{'active' if params.slice(:error, :halted).empty?}", role: "tab", aria: { selected: params.empty? } %>
    <%= link_to "Errors", logs_path(error: ""), class: "nav-item nav-link #{'active' if params.key?(:error)}", role: "tab", aria: { selected: params.key?(:error) } %>
    <%= link_to "Halted", logs_path(halted: ""), class: "nav-item nav-link #{'active' if params.key?(:halted)}", role: "tab", aria: { selected: params.key?(:halted) } %>
  </div>
</nav>

<div id="accordion" class="mt-3">
  <% @logs.each do |log| %>
    <div class="card text-white bg-dark mb-2">
      <div class="card-header" id="heading-<%= log.id %>">
        <h5 class="mb-0">
          <button class="btn btn-link text-white" data-toggle="collapse" data-target="#collapse-<%= log.id %>" aria-expanded="false" aria-controls="collapse-<%= log.id %>">
            <span>#<%= log.id %>.</span>
            <%= log.created_at %>
            <%= octicon("alert", class: "ml-2", fill: "currentcolor") if log.fail? %>
            <%= octicon("stop", class: "ml-2", fill: "currentcolor") if log.halted? %>
          </button>
        </h5>
      </div>

      <div id="collapse-<%= log.id %>" class="collapse" aria-labelledby="heading-<%= log.id %>" data-parent="#accordion">
        <div class="card-body">
          <pre class="text-white"><%= JSON.pretty_generate(log.data) %></pre>
        </div>
      </div>
    </div>
  <% end %>
</div>

<%= paginate @logs %>
