<div class="row justify-content-center mt-3">
  <div class="col-10">
    <nav>
      <div class="nav nav-tabs justify-content-center" id="nav-tab" role="tablist">
        <%= link_to "All", logs_path, class: "nav-item nav-link #{'active' if params.slice(:error, :halted).empty?}", role: "tab", aria: { selected: params.empty? } %>
        <%= link_to "Errors", logs_path(error: ""), class: "nav-item nav-link #{'active' if params.key?(:error)}", role: "tab", aria: { selected: params.key?(:error) } %>
        <%= link_to "Halted", logs_path(halted: ""), class: "nav-item nav-link #{'active' if params.key?(:halted)}", role: "tab", aria: { selected: params.key?(:halted) } %>
      </div>
    </nav>
  </div>
</div>

<div id="accordion" class="mt-3">
  <%= render partial: "log", collection: @logs, as: :log %>
</div>

<div class="row justify-content-center">
  <div class="col-10">
    <%= paginate @logs %>
  </div>
</div>
