<!DOCTYPE html>
<html>
  <head>
    <title>Bookshelf</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark box-shadow">
        <%= link_to root_path, class: "navbar-brand mr-2" do %>
          <%= octicon(:book, height: 32, fill: "currentcolor") %>
          <strong>Bookshelf</strong>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarToggler">
          <%= render_navigation expand_all: true, context: "navigation/application" %>
          <%= render_navigation expand_all: true, context: "navigation/user" %>
        </div>
      </nav>
    </header>
    <div class="container-fluid mb-5">
      <%= flash_messages %>
      <%= yield %>
      <div class="modal fade" id="app-modal" tabindex="-1" role="dialog" aria-labelledby="modal-title-label" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content text-white bg-dark">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title-label"></h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer">
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
